@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
  background-color: #212121;
  color: #f0f0f0;
  font-family: 'Open Sans' sans-serif;
}
.container{
  padding: 8px;
  background-color: #414141;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 25%;
  height: 80%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  overflow: hidden;
}
.controls{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px;
  background-color: #FF6868;
}
#chatBox{
  overflow: auto;
  height: 90%;
}
